{% extends "base.html" %}

{% block title %}Meme List{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
<script>
    const rate = (rating, meme_number) => {
        fetch(`/memes/rate/${meme_number}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            return response.json(); // Parse JSON asynchronously
        }).then(data => {
            const responseMessage = document.getElementById(`${meme_number}`);
            responseMessage.textContent = data.average_rating;
        }).catch(error => {
            console.error('Error:', error);
            // Handle errors
        });
    }
</script>

<body>
    <div class="container-fluid">
        <h1>Meme List</h1>
        <a href="{% url 'create' %}" ,
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'add meme' %}</a>
        <a href="{% url 'update_all' %}" ,
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'edit all memes' %}</a>
        <a href="{% url 'read_random' %}" ,
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'randomizer' %}</a>
        <!-- <a href="{% url 'create_multiple' %}">Add Many Memes</a> -->
        <form action="{% url 'logout' %}" method="post" , style="display: flex; justify-content: right;">
            {% csrf_token %}
            <button type="submit">log out</button>
        </form>

        {% if filter %}
        <form action="" method="get" class="form form-check form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
        <a href="{% url 'read' %}">{% bootstrap_button 'clear filters' %}</a>
        {% endif %}

        {% render_table table %}
    </div>
</body>

</html>
{% endblock %}