{% extends "base.html" %}

{% block title %}Meme List{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
<script>
    const rate = (rating, meme_number) => {
        fetch(`/memes/rate/${meme_number}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            return response.json(); // Parse JSON asynchronously
        }).then(data => {
            const averageRating = data.average_rating;
            const ratingCount = data.rating_count;
            const averageRatingElement = document.getElementById(`average-rating-${meme_number}`);
            const userRatingElement = document.getElementById(`user-rating-${meme_number}`);
            for (let i = 0; i < 5; i++) {
                const averageStar = averageRatingElement.children[4 - i];
                if (averageRating > (4 - i)) {
                    averageStar.classList.add('checked');
                } else {
                    averageStar.classList.remove('checked');
                }

                const listItem = userRatingElement.children[i];
                const userStar = listItem.children[0];
                if (rating > (4 - i)) {
                    userStar.classList.add('checked');
                } else {
                    userStar.classList.remove('checked');
                }
            }
            averageRatingElement.childNodes[0].textContent = `(${ratingCount})\n`;
            averageRatingElement.style.visibility = "visible";
        }).catch(error => {
            console.error('Error:', error);
            // Handle errors
        });
    }
</script>

<body>
    <div class="container-fluid">
        <h1>Meme List</h1>
        <a href="/"
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'home' %}</a>
        <a href="{% url 'create' %}" ,
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'add meme' %}</a>
        <a href="{% url 'update_all' %}" ,
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'edit all memes' %}</a>
        <a href="{% url 'read_random' %}" ,
            style='border: 1px solid black; display: inline-block; padding: 5px;'>{% bootstrap_button 'randomizer' %}</a>
        <!-- <a href="{% url 'create_multiple' %}">Add Many Memes</a> -->
        <form action="{% url 'logout' %}" method="post" , style="display: flex; justify-content: right;">
            {% csrf_token %}
            <button type="submit">log out</button>
        </form>

        {% if filter %}
        <form action="" method="get" class="form form-check form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
        <a href="{% url 'read' %}">{% bootstrap_button 'clear filters' %}</a>
        {% endif %}

        {{ table.rows|length }} memes

        {% render_table table %}
    </div>
</body>

</html>
{% endblock %}