# .env

DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=


# .env.dev

DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=gargboyz_dev
SQL_USER=gargboyz
SQL_PASSWORD=gargboyz
SQL_HOST=db
SQL_PORT=5432
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# .env.test
DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1 [::1]'
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=gargboyz_dev
SQL_USER=gargboyz
SQL_PASSWORD=gargboyz
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# .env.test.db

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# .env.prod

DEBUG=0
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_EMAIL_HOST=
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_DEFAULT_FROM_EMAIL=

# .env.prod.db

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=