{% extends "memes/base.html" %}

{% block title %}Meme Detail{% endblock %}

{% block content %}
<style>
    .comment {
        border-color: rgb(91, 93, 89);
        padding: 2px;
        border-style: dotted
    }

    .comment .info {
        visibility: hidden;
        text-align: center;
        padding: 8px;
        background: var(--bs-body-bg);
        background-image: none;
        border: 1px solid #CCC;
        position: absolute;
        right: 10rem;
        width: 180px;
        z-index: 1;
        box-shadow: 0 0 4px #000;
        border-radius: 4px;
    }

    .comment:hover .info {
        visibility: visible;
    }

    .meme-image {
        max-width: 40rem;
    }

    @media only screen and (max-width: 750px) {
        .desktop-column {
            display: none;
        }

        .comment-form {
            max-width: max-content;
        }
    }
</style>
<div class="d-flex row ms-2 me-2 mb-2 mt-2">
    <div class="container col text-center">
        <h2 class="text-center">{{ meme }}</h2>
        {% if meme.meme_type == 'jpeg' %}
        <a href="{{ meme.meme_path.url }}"><img class="meme-image" loading="lazy" src="{{ meme.meme_path.url }}"
                alt="Meme {{ meme.number }}"></a>
        {% elif meme.meme_type == 'gif' %}
        <img class="meme-image" loading="lazy" src="{{ meme.meme_path.url }}" alt="Meme {{ meme.number }}">
        {% elif meme.meme_type == 'mp4' %}
        <video class="meme-image" controls>
            <source src="{{ meme.meme_path.url }}" preload="metadata" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% elif meme.meme_type == 'mov' %}
        <video controls>
            <source src="{{ meme.meme_path.url }}" preload="metadata" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="container-fluid ms-1">
            {% if meme.voice_recording_path %}
            <audio controls preload="metadata">
                <source src="{{ meme.voice_recording_path.url }}" type="audio/mp3">
                Your browser does not support the audio tag.
            </audio>
            {% else %}
            No recording available.
            {% endif %}
        </div>
    </div>
    <div class="col desktop-column"></div>
    <div class="col desktop-column"></div>
</div>
<div class="d-flex row mb-3">
    <div class="container-fluid col">
        <div class="row text-center" id="rating-{{rating.user}}">
            <div class="col">average</div>
            <div class="col" id="average-rating-{{ meme.number }}" title="{{meme.average_rating}}">
                {% for number in 5|times %}
                <i class="bi {% if meme.average_rating >= number|add:1 %} bi-star-fill checked
            {% elif meme.average_rating >= number|add_half %} bi-star-half checked
            {% else %} bi-star {% endif %}">
                </i>
                {% endfor %}
            </div>
        </div>
        <hr class="col ms-5 me-5">
        {% for rating in ratings %}
        <div class="row text-center" id="rating-{{rating.user}}">
            <div class="col">{{rating.user}}</div>
            <div class="col">
                {% for number in 5|times %}
                <i class="bi {% if rating.rating >= number|add:1 %} bi-star-fill checked
                {% elif rating.rating >= number|add_half %} bi-star-half checked
                {% else %} bi-star {% endif %}">
                </i>
                {% endfor %}
            </div>
        </div>
        {% endfor %}


    </div>
    <div class="col desktop-column"></div>
    <div class="col desktop-column"></div>
</div>
<div class="container-fluid ms-1 me-1">
    <div class="mb-3 me-3">
        <form method="post" class="form comment-form">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn text-start ms-1 me-1">Submit</button>
        </form>
    </div>

    <h3>Comments</h3>
    <div class="comments ms-1 me-1">
        {% for comment in comments %}
        <div class="comment ms-2 me-2">
            <div class="info">
                <time datetime="{{ comment.created_on }}">{{ comment.created_on }}</time>
            </div>
            {{ comment.user }}: {{ comment.body }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}