{% extends "memes/base.html" %}

{% block title %}Edit All Memes{% endblock %}

{% block content %}
{% load render_table from django_tables2 %}

<body>
    <h1>edit all memes</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn">submit</button>
        <table>
            <thead>
                <tr>
                    <th>Meme</th>
                    <th>Meme Type</th>
                    <th>Idea</th>
                    <th>Transcript</th>
                    <th>Number</th>
                    <th>Authors</th>
                    <th>Declared number</th>
                    <th>Idea date</th>
                    <th>Season</th>
                    <th>Meme constructed</th>
                    <th>Subseason</th>
                </tr>
            </thead>
            <tbody class="meme-form-multiple">
                {% for form, meme in packed %}
                <tr>
                    <td>
                        {% if meme.meme_type == 'jpeg' %}
                        <a href="{{ meme.meme_path.url }}"><img class="thumbnail" src="{{ meme.meme_thumbnail.url }}"
                                alt="Meme {{ meme.number }}">
                            {% elif meme.meme_type == 'gif' %}
                            <img src="{{ meme.meme_path.url }}" class="thumbnail" alt="Meme {{ meme.number }}">
                            {% elif meme.meme_type == 'mp4' %}
                            <video controls class="thumbnail">
                                <source src="{{ meme.meme_path.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {% endif %}
                            {{ form.meme_path }}
                    </td>
                    <td>{{ form.meme_type }}</td>
                    <td style="font-size: 12px;">
                        {% if meme.voice_recording_path.url is defined %}
                        <audio controls preload="none">
                            <source src="{{ meme.voice_recording_path.url }}" type="audio/mp3">
                            Your browser does not support the audio tag.
                        </audio>
                        {% endif %}
                        {{ form.voice_recording_path }}
                    </td>
                    <td>{{ form.voice_recording_transcript }}</td>
                    <td>{{ form.number }}</td>
                    <td>{{ form.authors }}</td>
                    <td>{{ form.declared_number }}</td>
                    <td>{{ form.voice_recording_created_at }}</td>
                    <td>{{ form.season }}</td>
                    <td>{{ form.meme_created_at }}</td>
                    <td>{{ form.subseason }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn">submit</button>
    </form>
</body>

</html>
{% endblock %}