{% extends "memes/base.html" %}

{% block title %}Meme List{% endblock %}
{% block content %}

{% load render_table from django_tables2 %}

<script>
    document.addEventListener('play', function (e) {
        // const row = e.target.parentElement.parentElement;
        // row.style.position = 'sticky';
        // row.style.bottom = '0';
        // row.style.top = '3rem';
        // row.style.zIndex = '1';
        // row.style.border = '1px solid #ddd';

        var audios = document.getElementsByTagName('audio');
        for (var i = 0, len = audios.length; i < len; i++) {
            if (audios[i] != e.target) {
                audios[i].pause();
                // audios[i].parentElement.parentElement.style.position = 'static';
            }
        }
    }, true);

    document.addEventListener('pause', function (e) {
        const row = e.target.parentElement.parentElement;
        // row.style.position = 'static';
    }, true);

    const rate = (rating, meme_number) => {
        fetch(`/memes/rate/${meme_number}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            return response.json(); // Parse JSON asynchronously
        }).then(data => {
            const averageRating = data.average_rating;
            const memeRatingCount = data.meme_rating_count;
            const userRatingCount = data.user_rating_count;
            const averageRatingElement = document.getElementById(`average-rating-${meme_number}`);
            const userRatingElement = document.getElementById(`user-rating-${meme_number}`);
            const userRatingCountElement = document.getElementById('user_rating_count');

            averageRatingElement.title = data.average_rating;
            for (let i = 0; i < 5; i++) {
                const averageStar = averageRatingElement.children[4 - i];
                if (averageRating >= (5 - i)) {
                    averageStar.classList.add('checked');
                    averageStar.classList.remove('bi-star');
                    averageStar.classList.remove('bi-star-half');
                    averageStar.classList.add('bi-star-fill');
                } else if (averageRating >= (4.5 - i)) {
                    averageStar.classList.add('checked');
                    averageStar.classList.remove('bi-star');
                    averageStar.classList.remove('bi-star-fill');
                    averageStar.classList.add('bi-star-half');
                } else {
                    averageStar.classList.remove('checked');
                    averageStar.classList.remove('bi-star-fill');
                    averageStar.classList.remove('bi-star-half');
                    averageStar.classList.add('bi-star');
                }

                const listItem = userRatingElement.children[i];
                const userStar = listItem.children[0];
                if (rating > (4 - i)) {
                    userStar.classList.add('checked');
                    userStar.classList.remove('bi-star');
                    userStar.classList.remove('bi-star-half');
                    userStar.classList.add('bi-star-fill');
                } else {
                    userStar.classList.remove('checked');
                    userStar.classList.remove('bi-star-fill');
                    userStar.classList.remove('bi-star-half');
                    userStar.classList.add('bi-star');
                }
            }
            averageRatingElement.childNodes[0].textContent = `(${memeRatingCount})\n`;
            averageRatingElement.style.visibility = "visible";
            userRatingCountElement.textContent = `${userRatingCount}`;
        }).catch(error => {
            console.error('Error:', error);
            // Handle errors
        });
    }
</script>



<h1>memes</h1>
<hr>
<div class="text-center mb-2">
    {% for season, rating in season_ratings.items %}
    <a href="{% url 'season' season %}" class="btn" style="font-size: 12px;">{{season}}
        <div id="season-rating-{{ record.number }}" title="{{rating}}">
            {% for number in 5|times %}
            <i class="bi {% if rating >= number|add:1 %} bi-star-fill checked
            {% elif rating >= number|add_half %} bi-star-half checked
            {% else %} bi-star {% endif %}">
            </i>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
</div>
<div class="text-center">

    <div class="container px-4">
        <div class="col align-self-start">
            <form method="get" class="form">
                <div class="form-group form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"
                        name="voice_recording_transcript__icontains">
                    <label for="id_voice_recording_transcript__icontains">Search transcript</label>
                </div>
                <div class="form-group">
                    <label>Authors:</label>
                    {% for author in filter.form.authors %}
                    <div class="form-check form-check-inline mb-3">
                        {{ author }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-secondary">filter</button>
                </div>
            </form>
        </div>
        {% if has_filter %}
        <a class="btn btn-secondary" href="{% url 'list' %}">clear filters</a>
        {% endif %}
        <p>You've rated <b id="user_rating_count">{{ user_ratings|get_non_zero|length }}</b>/{{ table.rows|length }}
            memes
        </p>
    </div>
    <div class="container-fluid">
        {% render_table table %}
    </div>

</div>

{% endblock %}