{% extends "base.html" %}

{% block title %}Meme List{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
<script>
    document.addEventListener('play', function (e) {
        const row = e.target.parentElement.parentElement;
        row.style.position = 'sticky';
        row.style.bottom = '0';
        row.style.top = '3rem';
        row.style.zIndex = '1';
        row.style.border = '1px solid #ddd';

        var audios = document.getElementsByTagName('audio');
        for (var i = 0, len = audios.length; i < len; i++) {
            if (audios[i] != e.target) {
                audios[i].pause();
                audios[i].parentElement.parentElement.style.position = 'static';
            }
        }
    }, true);

    document.addEventListener('pause', function (e) {
        const row = e.target.parentElement.parentElement;
        row.style.position = 'static';
    }, true);

    const rate = (rating, meme_number) => {
        fetch(`/memes/rate/${meme_number}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            return response.json(); // Parse JSON asynchronously
        }).then(data => {
            const averageRating = data.average_rating;
            const memeRatingCount = data.meme_rating_count;
            const userRatingCount = data.user_rating_count;
            const averageRatingElement = document.getElementById(`average-rating-${meme_number}`);
            const userRatingElement = document.getElementById(`user-rating-${meme_number}`);
            const userRatingCountElement = document.getElementById('user_rating_count');

            for (let i = 0; i < 5; i++) {
                const averageStar = averageRatingElement.children[4 - i];
                if (averageRating > (4 - i)) {
                    averageStar.classList.add('checked');
                } else {
                    averageStar.classList.remove('checked');
                }

                const listItem = userRatingElement.children[i];
                const userStar = listItem.children[0];
                if (rating > (4 - i)) {
                    userStar.classList.add('checked');
                } else {
                    userStar.classList.remove('checked');
                }
            }
            averageRatingElement.childNodes[0].textContent = `(${memeRatingCount})\n`;
            averageRatingElement.style.visibility = "visible";
            userRatingCountElement.textContent = `${userRatingCount}`;
        }).catch(error => {
            console.error('Error:', error);
            // Handle errors
        });
    }
</script>

<body>
    <div class="container-fluid">
        <h1>Meme List</h1>
        <a href="/" class="nav-button">{% bootstrap_button 'home' %}</a>
        <a href="{% url 'create' %}" class="nav-button">{% bootstrap_button 'add meme' %}</a>
        <!-- <a href="{% url 'create multiple' %}" class="nav-button">{% bootstrap_button 'add multiple memes' %}</a> -->
        <a href="{% url 'edit all' %}" class="nav-button">{% bootstrap_button 'edit all memes' %}</a>
        <a href="{% url 'random' %}" class="nav-button">{% bootstrap_button 'randomizer' %}</a>

        <form action="{% url 'logout' %}" method="post" style="display: flex; justify-content: right;">
            {% csrf_token %}
            <button type="submit">log out</button>
        </form>

        {% if filter %}
        <form action="" method="get" class="form form-check form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
        <a href="{% url 'list' %}">{% bootstrap_button 'clear filters' %}</a>
        {% endif %}

        You've rated <b id="user_rating_count">{{ user_ratings|get_non_zero|length }}</b>/{{ table.rows|length }} memes

        {% render_table table %}
    </div>
</body>

</html>
{% endblock %}