{% extends "base.html" %}

{% block title %}Meme Form{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formContainer = document.getElementById('form-container');
        const addFormButton = document.getElementById('add-form');

        addFormButton.addEventListener('click', function () {
            // Clone the first form and append it to the form container
            const firstForm = document.querySelector('.meme-form-row');
            const clonedForm = firstForm.cloneNode(true);
            formContainer.appendChild(clonedForm);
        });
    });
</script>

<!-- meme_add_multiple.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Declared Number</th>
                <th>Media Path</th>
                <th>Media Type</th>
                <th>Media Created At</th>
                <th>Voice Recording Path</th>
                <th>Voice Recording Created At</th>
                <th>Voice Recording Transcript</th>
                <th>Authors</th>
                <th>Season</th>
                <th>Subseason</th>
            </tr>
        </thead>
        <tbody id="form-container">
            {% for form in formset %}
            <tr class="meme-form-row">
                <td>{{ form.number }}</td>
                <td>{{ form.declared_number }}</td>
                <td>{{ form.meme_path }}</td>
                <td>{{ form.meme_type }}</td>
                <td>{{ form.meme_created_at }}</td>
                <td>{{ form.voice_recording_path }}</td>
                <td>{{ form.voice_recording_created_at }}</td>
                <td>{{ form.voice_recording_transcript }}</td>
                <td>{{ form.authors }}</td>
                <td>{{ form.season }}</td>
                <td>{{ form.subseason }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" id="add-form">Add Meme</button>
    <button type="submit">Submit</button>
</form>

{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}
{% endblock %}