{% extends "base.html" %}

{% block title %}Meme List{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme List</title>
</head>

<body>
    <h1>Meme List</h1>
    <a href="{% url 'meme_add' %}" , style='border: 1px solid black; display: inline-block; padding: 5px;'>Add a
        meme</a>
    <!-- <a href="{% url 'meme_add_multiple' %}">Add Many Memes</a> -->
    <form action="{% url 'logout' %}" method="post" , style="display: flex; justify-content: right;">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Meme</th>
                <th>Idea</th>
                <th>Transcript</th>
                <th>Number</th>
                <th>Authors</th>
                <th>Declared number</th>
                <th>Idea date</th>
                <th>Season</th>
                <th>Meme constructed</th>
                <th>Subseason</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for meme in memes %}
            <tr>
                <td>
                    {% if meme.meme_type == 'jpeg' %}
                    <img src="{{ meme.meme_path.url }}" alt="Meme {{ meme.number }}">
                    {% elif meme.meme_type == 'gif' %}
                    <img src="{{ meme.meme_path.url }}" alt="Meme {{ meme.number }}">
                    {% elif meme.meme_type == 'video' %}
                    <video controls>
                        <source src="{{ meme.meme_path.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                </td>
                <td>
                    {% if meme.voice_recording_path %}
                    <audio controls>
                        <source src="{{ meme.voice_recording_path.url }}" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                    {% else %}
                    No voice recording available.
                    {% endif %}
                </td>
                <td>{{ meme.voice_recording_transcript }}</td>
                <td>{{ meme.number }}</td>
                <td>
                    {% for author in meme.authors.all %}
                    {{ author.name }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ meme.declared_number }}</td>
                <td>{{ meme.voice_recording_created_at }}</td>
                <td>{{ meme.season }}</td>
                <td>{{ meme.meme_created_at }}</td>
                <td>{{ meme.subseason }}</td>
                <td>
                    <a href="{% url 'meme_edit' meme.pk %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>

{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}
{% endblock %}