{% load static %}

<div class="container">

    <div id="average-rating-{{ record.number }}" title="{{record.average_rating}}" style="font-size: 12px;"
        {% if user_ratings|get_item:record.number == 0 %} style="visibility: hidden;" {% endif %}>
        ({{ record.rating_count }})
        {% for number in 5|times %}
        <i class="bi {% if record.average_rating >= number|add:1 %} bi-star-fill checked
            {% elif record.average_rating >= number|add_half %} bi-star-half checked
            {% else %} bi-star {% endif %}">
        </i>
        {% endfor %}
    </div>
    <div class="container d-flex justify-content-center align-content-center mt-5" style="width: 12rem;">
        <ul class="list-inline rating-list" id="user-rating-{{ record.number }}">
            {% for number in 5|times_desc:1 %}
            <li onclick="rate({{ number }}, '{{ record.number }}')">
                <i class="bi {% if user_ratings|get_item:record.number >= number %} bi-star-fill checked {% else %} bi-star {% endif %}"
                    title="Rate {{ number }}"></i>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>