{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if user.is_authenticated %}
    {% load static %}
    <p>Hi {{ user.username }}! Welcome to the official gargboyz website. Get ready for a ball-bustin' cuz this aint'
        your
        grannys website!</p>
    <img src="{% static 'gargamel_smoking.jpg' %}" alt="gargamel_smoking" class="img">
    <img src="{% static 'grouppic.jpg' %}" alt="grouppic" class="img">

    {% else %}
    <div class="container-fluid text-center">
        <p>You are not logged in</p>
        <p><a class="btn" href="{% url 'login' %}">Log In</a></p>
        <p><a class="btn" href="{% url 'signup' %}">Sign Up</a></p>
    </div>
    {% endif %}
</div>
{% endblock %}